@model ProjetoAppLivraria.Models.Livro

@{
    ViewData["Title"] = "CadLivro";
}

<h4>Cadastrar Livro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CadLivro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="RefAutor.Id" class="control-label">Autor</label>
                @Html.DropDownListFor(model => model.RefAutor.Id, ViewBag.ListaAutor as SelectList, "Selecione o autor",
                         htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="RefAutor.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nomeLivro" class="control-label mt-3">Nome do Livro</label>
                <input asp-for="nomeLivro" class="form-control" />
                <span asp-validation-for="nomeLivro" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 mb-3">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
