@model IEnumerable<ProjetoAppLivraria.Models.Status>

@{
    ViewData["Title"] = "Status List";
}

<h2>Status List</h2>
<p>
    <a asp-controller="Status" asp-action="CadastrarStatus">Cadastrar novo status</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var status in Model)
        {
            <tr>
                <td>@status.Id</td>
                <td>@status.Nome</td>
                <td>
                    <a href="@Url.Action("EditarStatus", "Status", new { id = status.Id })">Editar</a> |
                    @Html.ActionLink("Excluir", "ExcluirStatus", new { id = status.Id },
                             new { onclick = "return confirm('Deseja realmente excluir este item?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
